# Dependency directories
node_modules/
jspm_packages/

# Build outputs
build/
dist/
out/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS systems
.DS_Store
Thumbs.db
